.mid {
    margin-left: 10%;
    margin-right: 10%;
    background-color: grey;
}
.image-list {
    width: 100px;
    height: 100px;
}
.boxes {
    font-weight: bold;
    width: 40%;
    height: 80%;
    margin: 10px 50px;
    display: inline-block;
}
body {
    background-image: url("https://i.ibb.co/z4DnYGt/videoblocks-modern-seamless-texture-background-of-flat-technology-and-gadget-icons-bty2iy31w-thumbnail-full01.png")
}